@import "../../../assets/css/define.styl";

$prefix = c-input-number

.{$prefix} {
    display: inline-block;
    .c-number-center {
        display: inline-block;
        vertical-align: sub;
        width: 152rpx;
        font-size: $lrpx;
        font-weight: 400;
        color: $t_primary;
        text-align: center;
    }
    .c-icon-class {
        display: inline-block;
        font-size: 55rpx;
        transform: translateY(4rpx);
    }

}