@import "../../../assets/css/define.styl";

$prefix = w-filter-supplier;

.{$prefix}{
    max-height: 680rpx;
    overflow-y: auto;
    &-list{
        padding: 20rpx 20rpx 10rpx;
        $clear();
        button{
            margin: 0 10rpx 20rpx;
            float: left;
        }
    }
}