@import "../../../assets/css/define.styl";

.c-nodata-wrap{
    text-align: center;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    min-height: 445rpx;
    background: $white;
    .c-img{
        height: 220rpx;
        width: 220rpx;
        display: inline-block;
        image{
            width: 100%;
            height: 100%;
        }
    }
    .c-title{
        margin-top: 34rpx;
        font-size: 32rpx;
        color: $t_primary;
    }
}