@import "../../../assets/css/define.styl";

$prefix = c-tag;
.{$prefix} {
    display: inline-block;
    .c-tag-text {
        color: $white;
        font-size: $s;
        margin-right: 15rpx;
        padding: 0 4rpx;
        border-radius: 2rpx;
    }
    .p-round {
        border-radius: 4rpx;
    }
}