@import "../../assets/css/define.styl";

.p-title{
    background: #fff;
    margin-top: 22rpx;
    line-height: 88rpx;
    $border(bottom);
    padding: 0 20rpx;
    font-weight: 700;
    font-size: 36rpx;
}

.p-icon-wrap{
    c-icon{
        width: 25%;
        text-align: center;
        font-size: 48rpx;
        display: inline-block;
        margin-top: 48rpx;
        color: #333;
    }    
}

.p-action-sheet,.p-btn-wrap{
    c-button{
        padding: 40rpx 20rpx;
    }
}

.p-avatar-style {
    //width: 400rpx!important;
    //height: 400rpx!important;
}