@css{@import "assets/font/index.wxss";};
@css{@import "assets/css/global.wxss";};
@import "assets/css/define.styl";

/**app.wxss**/
page {
  font-size: 32rpx;
  color: #333;
  background: $gray_bg;
  line-height: 1em;
  height: 100%;
}
