@import "../../../assets/css/define.styl";

$prefix = w-filter-order-state;

.{$prefix}{
    &-list{
        padding: 20rpx;
        $clear();
        button{
            width: calc(33% - 20rpx);
            margin: 0 10rpx 20rpx;
            float: left;
        }
    }
}
